<section id="blog-preview" class="max-w-screen-xl mx-auto mb-48">
    <h3 class="text-4xl text-[#a09d9d] drop-shadow-xl">
        Latest posts
    </h3>

    <h2
        class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-stone-800 to-rose-800 via-amber-900 dark:from-white dark:to-rose-100 pb-1 drop-shadow-xl mb-14">
        From the blog
    </h2>


    <div class="grid grid-cols-3 gap-12">
        {% for post in recent_posts %}
        <div class="grid grid-cols-1 w-full">
            <a href="/blog/{{ post.slug }}">
                <p
                    class="bg-gradient-to-br from-[#ea4960] to-[#dd7037] text-transparent bg-clip-text text-xs font-medium uppercase w-fit mb-2">
                    {{ post.metadata.category | default('Category') }}
                </p>
            </a>
            <a href="/blog/{{ post.slug }}">
                <h3 class="text-3xl font-semibold text-white mb-4">
                    {{ post.metadata.name }}
                </h3>
                <p class="align-top text-lg leading-snug text-[#a09d9d] mb-4">
                    {{ post.preview }}
                </p>
                <p class="font-semibold text-[#6c6b6c]">{{ post.metadata.created }}</p>
            </a>
        </div>
        {% endfor %}
    </div>
</section>