<h3 class="text-center text-4xl text-[#a09d9d] drop-shadow-xl">
    Join the AI revolution
</h3>

<h2
    class="text-center text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-stone-800 to-rose-800 via-amber-900 dark:from-white dark:to-rose-100 p-5 drop-shadow-xl mb-12">
    With a personal touch
</h2>
<p
    class="text-2xl text-center font-light text-transparent bg-clip-text font-me ium bg-gradient-to-br from-white/90 to-stone-300/90 p-5 drop-shadow-xl mb-12 max-w-4xl mx-auto">
    AI isn’t just a futuristic dream—it's the present reality. Let me guide you in harnessing the power of personalized,
    conversation-driven AI solutions. Together, we can lead the charge in this technological revolution.
</p>

<form class="flex flex-col gap-4 items-center w-full max-w-xl mx-auto">
    <input id="name" type="text" name="name" placeholder="Name"
        class="h-12 w-full px-3 text-lg font-medium focus:outline-none text-stone-100 placeholder-white/20 bg-[#131418] border border-1 border-white/20 rounded-xl"
        required />
    <input id="email" type="email" name="email" placeholder="Email"
        class="h-12 w-full px-3 text-lg font-medium focus:outline-none text-stone-100 placeholder-white/20 bg-[#131418] border border-1 border-white/20 rounded-xl"
        required />
    <textarea id="message" type="text" name="message" placeholder="Message" rows="5"
        class="h-48 w-full px-3 pt-2 text-lg font-medium focus:outline-none text-stone-100 placeholder-white/20 bg-[#131418] border border-1 border-white/20 rounded-xl"
        required></textarea>
    <button type="submit"
        class="flex text-sm items-center justify-center w-auto font-medium leading-snug bg-gradient-to-b to-[#a92736] from-[#a92736] hover:to-[#a92736] hover:from-[#ea4960] rounded-full py-3 px-4 duration-250 text-dark-900 hover:text-white focus:outline-none hover:bg-dark-900">
        Contact
    </button>
</form>