<section id="chat-overlay"
    class="fixed top-0 left-0 h-screen w-screen backdrop-blur-md bg-[#0B1113a0] z-40 transition-opacity duration-300 ease-out opacity-0 invisible">
    <div id="messages" class="flex flex-col justify-end items-end w-full h-full max-w-2xl mx-auto pb-40">
        <div
            class="bg-gradient-to-b from-[#5f2f2d] to-[#51202c] border border-[#774847] drop-shadow-xl px-5 py-4 rounded-3xl text-lg">
            Greetings, Intrepid Explorer of Innovation!

            Welcome to Scint Labs, the digital dominion where curiosity frolics with cutting-edge tech to spawn marvels
            and musings alike. Here, we don't just think outside the box; we recycle the box into a jetpack. So strap
            in, activate your wonder sensors, and prepare for a journey through the extraordinary. Your next "aha!"
            moment is just around the corner.</div>
    </div>
</section>
{% include 'input.html' %}