<form class="flex flex-col gap-4 items-center w-full max-w-2xl mx-auto">

    <label for="name" class="ml-0.5 text-dark-300 font-medium text-sm">

    </label>
    <input id="name" type="text" name="name" placeholder="Future Scint Commander"
        class="h-12 w-full px-3 text-lg font-medium focus:outline-none text-stone-100 placeholder-white/20 bg-[#120e12] border border-1 border-white/20 rounded-xl"
        required />


    <label for="email" class="ml-0.5 text-dark-300 font-medium text-sm">

    </label>
    <input id="email" type="email" name="email" placeholder="john@email.com"
        class="h-12 w-full px-3 text-lg font-medium focus:outline-none text-stone-100 placeholder-white/20 bg-[#120e12] border border-1 border-white/20 rounded-xl"
        required />


    <label for="message" class="ml-0.5 text-dark-300 font-medium text-sm">

    </label>
    <textarea id="message" type="text" name="message" placeholder="Message" rows="5"
        class="h-48 w-full px-3 pt-2 text-lg font-medium focus:outline-none text-stone-100 placeholder-white/20 bg-[#120e12] border border-1 border-white/20 rounded-xl"
        required></textarea>


    <button type="submit"
        class="flex text-sm items-center justify-center w-auto font-medium leading-snug transition ease-in-out bg-[#a92736] rounded-full py-3 px-4 duration-250 text-dark-900 hover:text-white focus:outline-none hover:bg-dark-900">
        Get started
    </button>

</form>