<h3
    class="text-center text-4xl light text-transparent bg-clip-text bg-gradient-to-br from-black/90 to-stone-800/90 dark:from-white/90 dark:to-stone-300/90 drop-shadow-xl">
    The impact of an intelligent assistant
</h3>
<h2
    class="text-center text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-stone-800 to-rose-800 via-amber-900 dark:from-white dark:to-rose-100 p-5 drop-shadow-xl mb-20">
    Designed specifically for you
</h2>

<div class="grid grid-cols-1 gap-20">
    <div class="grid grid-cols-2 gap-10">
        <div class="flex flex-col justify-center max-w-xl">
            <p class="text-xl font-base"></p>Entrepreneur</p>
            <p class="text-2xl font-semibold mb-5">Mei</p>
            <p class="text-lg font-medium leading-snug">
                Scint transforms Mei's online store by providing real-time sales
                tracking and customer feedback analysis. It not only helps her
                understand her sales trends but also offers actionable insights to
                improve her products based on customer reviews.
            </p>
        </div>
        <img src="/images/entrepreneur-use-case.png" alt="Engineering AI assistants">
    </div>

    <div class="grid grid-cols-2 gap-10">
        <img src="/images/real-estate-use-case.png" alt="Engineering AI assistants">
        <div class="flex flex-col justify-center align-bottom max-w-xl">
            <p class="text-xl font-base"></p>Real-estate Agent</p>
            <p class="text-2xl font-semibold mb-5">Jake</p>
            <p class="text-lg font-medium leading-snug">
                Scint empowers Jake by keeping him updated about market trends and
                his client portfolio. It not only spots potential opportunities
                but also suggests proactive actions to make the most of them.
            </p>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-10">
        <div class="flex flex-col justify-center max-w-xl">
            <p class="text-xl font-base"></p>Academic</p>
            <p class="text-2xl font-semibold mb-5">Priya</p>
            <p class="text-lg font-medium leading-snug ">
                For Priya, Scint is like a personalized academic assistant. It
                manages her study schedule, suggests ideal timelines for
                assignments, and even finds useful resources for her papers.
            </p>
        </div>
        <img src="/images/academic-use-case.png" alt="Engineering AI assistants">
    </div>
</div>