<div class="flex justify-between w-full">

    <div class="flex flex-col items-start w-auto">
        <a href="https://scint.co">
            <p class="text-xl font-bold text-zinc-400/80">Scint Labs</p>
        </a>
        <p class="text-[#6c6b6c]"></p>
        <p class="text-sm font-medium text-zinc-400/60">© 2023 Tim Kaechle</p>
    </div>
    <div class="flex flex-row gap-4">
        <a class="flex justify-center items-center w-6 h-6 rounded-full transition duration-300 ease-in-out hover:text-dark-300 text-zinc-400/80 hover:text-[#9b323a]"
            href="#">
            <ion-icon name="logo-github"></ion-icon>
        </a>
        <a class="flex justify-center items-center w-6 h-6 rounded-full transition duration-300 ease-in-out hover:text-dark-300 text-zinc-400/80 hover:text-[#9b323a]"
            href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
        </a>
        <a class="flex justify-center items-center w-6 h-6 rounded-full transition duration-300 ease-in-out hover:text-dark-300 text-zinc-400/80 hover:text-[#9b323a]"
            href="">
            <ion-icon name="logo-discord"></ion-icon>
        </a>
        <a class="flex justify-center items-center w-6 h-6 rounded-full transition duration-300 ease-in-out hover:text-dark-300 text-zinc-400/80 hover:text-[#9b323a]"
            href="">
            <ion-icon name="logo-twitter"></ion-icon>
        </a>
    </div>

</div>