<nav class="flex w-full max-w-6xl mx-auto py-4">
    <ul class="flex w-full justify-between items-center text-sm">
        <li>
            <a href="https://scint.co">
                <p class="text-2xl font-semibold">Scint Labs</p>
            </a>
        </li>
        <li>
            <a href="/about"
                class="transition duration-300 ease-in-out hover:text-dark-300 text-zinc-200 hover:text-[#c14953]">
                About
            </a>
        </li>
        <li>
            <a href="/projects"
                class="transition duration-300 ease-in-out hover:text-dark-300 text-zinc-200 hover:text-[#c14953]">
                Projects
            </a>
        </li>
        <li>
            <a href="/blog"
                class="transition duration-300 ease-in-out hover:text-dark-300 text-zinc-200 hover:text-[#c14953]">
                Blog
            </a>
        </li>
        <li>
            <a href="#contact-form"
                class="flex text-sm transition-all items-center justify-center w-auto leading-snug bg-gradient-to-b to-[#a92736] from-[#ff7954] rounded-full py-3 px-4  font-semibold focus:outline-none hover:shadow-lg hover:shadow-[#a9273650]">
                Contact
            </a>
        </li>
    </ul>
</nav>