<nav class="flex w-full max-w-6xl mx-auto py-4">
    <ul class="flex w-full justify-between items-center text-sm">
        <li>
            <a href="https://scint.co">
                <p class="text-2xl font-semibold">Scint Labs</p>
            </a>
        </li>
        <li>
            <a href="/about"
                class="transition duration-300 ease-in-out hover:text-dark-300 text-zinc-200 hover:text-[#c14953]">
                About
            </a>
        </li>
        <li>
            <a href="/projects"
                class="transition duration-300 ease-in-out hover:text-dark-300 text-zinc-200 hover:text-[#c14953]">
                Projects
            </a>
        </li>

        <li>
            <a href="/blog"
                class="transition duration-300 ease-in-out hover:text-dark-300 text-zinc-200 hover:text-[#c14953]">
                Blog
            </a>

        </li>
        <li>
            <button type="submit"
                class="flex text-sm items-center justify-center w-auto font-medium leading-snug bg-gradient-to-b to-[#a92736] from-[#a92736] hover:to-[#a92736] hover:from-[#ea4960] rounded-full py-3 px-4 duration-250 text-dark-900 hover:text-white focus:outline-none hover:bg-dark-900">
                Contact
            </button>
        </li>
    </ul>
</nav>