<nav class="flex w-full pt-2 pb-8 z-50">
    <ul class="flex w-full justify-between items-center text-sm max-w-6xl mx-auto">
        <li>
            <a href="https://scint.co">
                <p class="text-2xl font-black">Scint Labs</p>
            </a>
        </li>
        <li>
            <a href="#contact-form"
                class="flex text-sm transition-all ease-out duration-300 items-center justify-center w-auto leading-snug bg-gradient-to-b to-[#9f2046] via-[#cf3d30] from-[#c96d43] rounded-full py-2 px-3 font-medium focus:outline-none shadow-lg shadow-[#030204] hover:shadow-xl hover:shadow-[#030204]">
                Contact
            </a>
        </li>
    </ul>
</nav>