<!DOCTYPE html>
<html lang="en" class="w-screen h-screen relative bg-[#0B1113]">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scint</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" />

    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>

<body class="relative w-full"
    style="background: url('/images/bg.png'); background-position:top center; background-size:contain; background-repeat:no-repeat;">
    <main class="relative">
        <div class="app w-full mx-auto">
            <header id="header" hx-get="templates/header.html" hx-trigger="load" class="max-w-screen-xl mx-auto mb-14">
            </header>

            <section id="hero" hx-get="templates/hero.html" hx-trigger="load" class="max-w-screen-xl mx-auto">
            </section>

            <section id="process" hx-get="templates/projects.html" hx-trigger="load"
                class="max-w-screen-xl mx-auto mb-48">
            </section>

            <section id="process" hx-get="templates/process.html" hx-trigger="load"
                class="max-w-screen-xl mx-auto mb-48">
            </section>

            <section id="featured-work" hx-get="templates/featured-work.html" hx-trigger="load"
                class="max-w-screen-xl mx-auto mb-48">
            </section>

            <section id="call-to-action" hx-get="templates/call-to-action.html" hx-trigger="load"
                class="max-w-screen-xl mx-auto mb-48">
            </section>

            <section id="chat-bar" hx-get="templates/chat-bar.html" hx-trigger="load" class="fixed w-screen bottom-4">
            </section>

            <footer id="footer" hx-get="templates/footer.html" hx-trigger="load" class="max-w-screen-xl mx-auto pb-14">
            </footer>
        </div>
    </main>
</body>
<script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>

</html>