<!DOCTYPE html>
<html lang="en" class="w-screen h-screen relative bg-[#0B1113]">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scint</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100;200;300;400;500;600;700;800&family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" />

    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>

<body class="relative w-full">

    {% include 'header.html' %}

    <main class="relative w-full max-w-6xl mx-auto">

        {% include 'hero.html' %}
        {% include 'projects.html' %}
        {% include 'blog-preview.html' %}
        {% include 'process.html' %}
        {% include 'use-cases.html' %}
        {% include 'call-to-action.html' %}

    </main>

    {% include 'chat-overlay.html' %}
    {% include 'footer.html' %}

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const inputBar = document.getElementById('input')
            const overlay = document.getElementById('chat-overlay')

            inputBar.addEventListener('focus', () => {
                overlay.classList.remove('opacity-0', 'invisible')
                overlay.classList.add('opacity-100', 'visible')
            })

            inputBar.addEventListener('blur', () => {
                overlay.classList.add('opacity-0', 'invisible')
                overlay.classList.remove('opacity-100', 'visible')
            })
        })


        document.addEventListener('keydown', function (event) {
            if ((event.metaKey || event.ctrlKey) && event.key === 'k') {
                event.preventDefault()
                const chatInput = document.getElementById('input')

                if (chatInput) {
                    chatInput.focus()
                }
            }

            if (event.key === 'Escape') {
                const chatInput = document.getElementById('input');

                if (chatInput === document.activeElement) {
                    chatInput.blur()
                }
            }
        });
        document.getElementById('input').addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault()
                sendMessage(this.value)
                this.value = ''
            }
        });

        function sendMessage(messageContent) {
            const requestPayload = {
                message: {
                    role: "user",
                    content: messageContent,
                    name: "WebsiteUser"
                }
            }

            fetch('http://localhost:8080/chat', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestPayload),
            })
                .then(response => response.text())
                .then(text => JSON.parse(text))
                .then(data => {
                    if (data && data.content) {
                        displaySentMessage(messageContent)
                        displayReceivedMessage(data.content)
                    } else {
                        console.error('Unexpected response format:', data)
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }

        function displaySentMessage(message) {
            const messagesContainer = document.getElementById('messages')
            const messageElement = document.createElement('div')
            messageElement.classList = "w-full bg-gradient-to-b from-[#39383f] to-[#2c2c30] border border-[#4d4c50] drop-shadow-xl px-5 py-4 rounded-3xl text-lg"
            messageElement.innerHTML = `${message}`
            messagesContainer.appendChild(messageElement)
        }

        function displayReceivedMessage(message) {
            const messagesContainer = document.getElementById('messages')
            const messageElement = document.createElement('div')
            messageElement.classList = "w-full bg-gradient-to-b from-[#5f2f2d] to-[#51202c] border border-[#774847] drop-shadow-xl px-5 py-4 rounded-3xl text-lg"
            messageElement.innerHTML = `${message}`
            messagesContainer.appendChild(messageElement)
        }

    </script>
</body>

</html>