<section id="process" class="max-w-screen-xl mx-auto mb-48">
    <h3 class="text-4xl text-[#a09d9d] drop-shadow-xl text-center">
        Personalized, crafted, perfected.
    </h3>

    <h2
        class="text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-stone-800 to-rose-800 via-amber-900 dark:from-white dark:to-rose-100 pb-1 drop-shadow-xl mb-14 text-center">
        Your guide to AI innovation
    </h2>

    <p
        class="text-2xl text-center font-light text-transparent bg-clip-text font-me ium bg-gradient-to-br from-white/90 to-stone-300/90 p-5 drop-shadow-xl mb-12 max-w-4xl mx-auto">
        My approach is simple yet profound: transforming GPT-4's capabilities into bespoke solutions. Each project is
        like a
        relay race of ideas, where the baton of intelligence is passed seamlessly across stages of development and
        implementation.
    </p>

    <div class="grid grid-cols-3 gap-10">
        <div class="grid grid-cols-1 gap-10 w-full">
            <img src="/images/ongoing-support.png" alt="Support dashboards with chat bubble">
            <h3 class="text-2xl font-semibold text-center text-white">
                Crafting personalized solutions with you in mind.
            </h3>
            <p class="text-lg leading-snug text-center text-[#a09d9d]">
                Your vision and challenges are unique. That’s why I dive deep into understanding your needs and goals,
                ensuring every AI solution I craft is not just a tool, but a partner in your success.
            </p>
        </div>

        <div class="grid grid-cols-1 gap-10 w-full">
            <img src="/images/ongoing-support.png" alt="Support dashboards with chat bubble">
            <h3 class="text-2xl font-semibold text-center text-white">
                Engineering AI solutions tailored to your needs.
            </h3>
            <p class="align-top text-lg leading-snug text-center text-[#a09d9d]">
                After grasping your specific requirements, I develop and integrate a custom AI solution. This isn't just
                about building software; it’s about weaving your business DNA into the fabric of AI technology.
            </p>
        </div>

        <div class="grid grid-cols-1 gap-10 w-full">
            <img src="/images/ongoing-support.png" alt="Support dashboards with chat bubble">
            <h3 class="text-2xl font-semibold text-center text-white">
                Maximizing your AI potential.
            </h3>
            <p class="text-lg leading-snug text-center text-[#a09d9d]">
                My commitment extends beyond deployment. I provide ongoing support, integrating the AI solution into
                your
                business processes, offering training for optimal use, and ensuring its continuous evolution alongside
                your
                enterprise.
            </p>
        </div>
    </div>
</section>