<h3
    class="text-center text-4xl light text-transparent bg-clip-text bg-gradient-to-br from-black/90 to-stone-800/90 dark:from-white/90 dark:to-stone-300/90 drop-shadow-xl">
    Personalized, engineered, enabled.
</h3>
<h2
    class="text-center text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-stone-800 to-rose-800 via-amber-900 dark:from-white dark:to-rose-100 p-5 drop-shadow-xl mb-20">
    Your path to AI transformation
</h2>
<div class="flex gap-10">
    <div class="w-full">
        <img src="/images/hero-document.png" alt="Engineering AI assistants">
        <h3 class="text-2xl font-semibold text-center text-white">
            We collaborate to craft your personalized solution.
        </h3>
        <p class="mt-2 font-medium text-lg leading-snug text-center text-zinc-300">
            Our journey begins with you. We take the time to understand your
            needs, goals, and the unique challenges your business faces so we
            can carefully tailor an assistant to help you unlock your potential.
        </p>
    </div>
    <div class="w-full">
        <img src="/images/hero-document.png" alt="Engineering AI assistants">
        <h3 class="text-2xl font-semibold text-center text-white">
            We engineer an assistant suited to your needs.
        </h3>
        <p class="mt-2 font-medium text-lg leading-snug text-center text-zinc-300">
            Once we've defined your personalized solution, we build and
            integrate your custom assistant, connecting it to your existing
            data, ensuring it understands your business as well as you do.
        </p>
    </div>
    <div class="w-full">
        <img src="/images/hero-document.png" alt="Engineering AI assistants">
        <h3 class="text-2xl font-semibold text-center text-white">
            We help you maximize your new assistant's potential.
        </h3>
        <p class="mt-2 font-medium leading-snug text-lg text-center text-zinc-300">
            We give you ongoing support, helping you integrate your new
            assistant into your workflows, training you on how to use it
            effectively, and ensuring it continuously evolves with your
            business.
        </p>
    </div>
</div>