<h3
    class="text-center text-4xl light text-transparent bg-clip-text bg-gradient-to-br from-black/90 to-stone-800/90 dark:from-white/90 dark:to-stone-300/90 drop-shadow-xl">
    Many powerful tools
</h3>

<h2
    class="text-center text-6xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-stone-800 to-rose-800 via-amber-900 dark:from-white dark:to-rose-100 p-5 drop-shadow-xl mb-12">
    One simple philosophy
</h2>

<p
    class="text-2xl text-center font-light text-transparent bg-clip-text font-me ium bg-gradient-to-br from-white/90 to-stone-300/90 p-5 drop-shadow-xl mb-12 max-w-4xl mx-auto">
    No doubt there are a lot of AI assistants and tools out there. What makes Scint different from all of those? Crafted
    with precision, Scint leverages the might of GPT-4 and distills it into Workers—nimble agents that talk, share, and
    collaborate. Imagine a relay race, but with information and functionality. And the baton? Pure, unadulterated
    intelligence.
</p>

<div class="flex w-full gap-10">
    <div class="flex flex-col w-full gap-10">
        <div class="bg-[#15191a] h-96 w-full border-[#49494b] border rounded-3xl"></div>
        <div class="flex gap-10">
            <div class="bg-[#15191a] h-48 w-full border-[#49494b] border rounded-3xl"></div>
            <div class="bg-[#15191a] h-48 w-full border-[#49494b] border rounded-3xl"></div>
            <div class="bg-[#15191a] h-48 w-full border-[#49494b] border rounded-3xl"></div>
        </div>
    </div>
    <div class="flex flex-col w-full gap-10">
        <div class="bg-[#15191a] h-72 w-full border-[#49494b] border rounded-3xl"></div>
        <div class="bg-[#15191a] h-72 w-full border-[#49494b] border rounded-3xl"></div>
    </div>
</div>